{% extends "base.html" %}

{% block main_content %}
    {% block view_game_table %}
        <h1>{{title}}</h1>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Console</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ loop.index0 + 1 }}</td>
                        <td>{{ game.name }}</td>
                        <td>{{ game.category }}</td>
                        <td>{{ game.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

    {% block add_game %}
        <h2>Adicionar Jogo</h2>
        <form action="{{ url_for('save_game') }}" method="post">
            <fieldset>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" id="nome" name="name" type="text">
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <input class="form-control" id="categoria" name="category" type="text">
                </div>
                <div class="form-group">
                    <label for="console">Console</label>
                    <input class="form-control" id="console" name="description" type="text">
                </div>
                <button class="btn btn-primary btn-salvar" type="submit">Salvar</button>
            </fieldset>
        </form>
    {% endblock %}
{% endblock %}